<div class="container"> <br>
    <h1 style="text-align:center;">Registration</h1>
    <div class="p-2 mt-2">
        <input  id="usera" type="text" placeholder="username" [(ngModel)]="uname" class="form-control">
    </div>
    <div class="p-2 mt-2">
        <input id="userb" type="text" placeholder="account number" [(ngModel)]="acntn" class="form-control">
    </div>
    <div class="p-2 mt-2">
        <input id="passw" type="password" placeholder="password" [(ngModel)]="pswd" class="form-control">
        
    </div> <br>
    <div class="p-2 mt-2">
        <button (click)="register()" id="bta">Register</button>  <br> <br>
       
    </div>
    <a  href="" style="text-decoration: none; margin-left: 172px; color: black;" routerLink=''>Back To Login</a>
    </div>
